<div class="container">
  <div class="row">
   <div class="col-sm-6 col-sm-offset-3">
      <div id="imaginary_container"> 
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control"  placeholder="Search" >
            <span class="input-group-addon">
                <button type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>  
            </span>
        </div>
      </div>
    </div>
</div>
<div class="row row-list">
  <%= link_to 'Add Idea' , new_idea_path, class: "btn btn-success new-user "%>
  
  <% @ideas.in_groups_of(3) do |group| %>
  <div class="col-sm-11 col-sm-offset-2 row-list-users">
    <% group.compact.each do |idea| %>
      <div class="col-sm-3 list-custom">
        <div>
          <%= image_tag idea.picture_url(:thumb) if idea.picture?%>
        <h4><%= link_to idea.name, idea, class: "text-name" %></h4>
        <%= truncate idea.descriptiontion, length: 20 %>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
</div>