<div class="container">
    <div class="row">
        <div class="form-login col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-create">Create User</h1>

            <%= render 'form', idea: @idea %>

            <%= link_to 'Back', ideas_path, class: "btn btn-warning" %>
</div>
    </div>
</div>
